<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <a href="/admin/transaction" class="btn btn-warning">Back</a>
      <!-- Button trigger modal -->
      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-product">
        <i class="fas fa-plus"></i>
      </button> -->
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTableTransactionDetail" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Product name</th> 
              <th>Price</th> 
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < TransDetail.product_Id.length; i++) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= TransDetail.product_Id[i].product_name%></td>
              <td><%= TransDetail.product_Id[i].price%></td>
              <td><%= TransDetail.product_Id[i].description%></td>
            </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  