<!-- Modal -->
<div class="modal fade" id="add-discount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Discount</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/admin/discount" method="POST" >
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Type Discount</label>
              <select class="form-control" name="typeDiscount">
                <option value="">---- Type Discount ----</option>
                <option value="Discount Percent" > Discount Percent </option>
                <option value="Discount Rebate" > Discount Rebate </option>
              </select>
            </div>
            <div class="form-group">
              <label for="name">Amount</label>
              <input type="number" class="form-control" name="amount" placeholder="Enter Amount"
                required />
            </div>
            <div class="form-group">
              <label for="name">Description</label>
              <input type="text" class="form-control" name="description" placeholder="Enter Description"
              required />
            </div>
            <div class="form-group">
                <label for="name">Status</label>
                <select class="form-control" name="status">
                  <option value="">---- Status Type ----</option>
                  <option value="Active" > Active </option>
                  <option value="Not Active" > Not Active </option>
                </select>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>